{% load static %}
<link rel="stylesheet" href="{% static './templates/parts/styling.css'%}">
<footer class="footer">
    <div class="container">
        <div class="row">
          
            <div class="footer-col">
                <h4>Contact Us</h4>
                <div class="social-links">
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
              <div class="footer-col">
                
              
            </div>
            
      <div class="footer-col">
       <img src="{% static './imgs/wasfa-high-resolution-logo-black-transparent.png'%}" alt="No Photo" width="200px" >
   </div>
        </div>
    
    </div>
</footer>
